.DS_Store
.vscode/
docker-compose.yml
docker-compose-prod.yml
demo.png


# hello_project
hello/.DS_Store
hello/.vscode/

# postgresql_project
postgresql/.DS_Store
postgresql/.vscode/

# bookstore_project
books/.DS_Store
books/.vscode/