{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content %} 

<h1>Homepage</h1>
    <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
        <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search"
    aria-label="Search"> 
    </form>
{% comment %} <img class="bookcover" src="{% static 'images/djangoforprofessionals.jpg' %}"> {% endcomment %}
<br />
{% if user.is_authenticated %}
    Hi {{ user.email }}! 
    <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'account_login' %}">Log In</a> 
    <a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}

{% endblock content %}